@{
    @* No layout (template) for our HTML *@
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">My Index Views!!!</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
